.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  margin: 1.5rem;
}

.container p {
  margin: 0;
  text-align: center;
}
