.container {
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
}

.title {
  font-size: 32px;
}

.cardsContainer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.methodPaymentBox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.titlePaymentMethod {
  margin: 0;
  font-weight: bold;
}

.transferWithIcon {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
  background-color: white;
  border: solid #bcbcbc 0.5px;
}

.transferWithIcon p {
  margin-left: 5px;
}

.dataContainer {
  width: 50%;
  padding: 15px 30px;
  background-color: white;
  border: solid #bcbcbc 0.5px;
}

.dataContainerTitle {
  font-weight: bold;
  color: #f05523;
}

.dataContent {
  padding: 10px;
  font-size: 15px;
  background-color: white;
  border: solid #bcbcbc 0.5px;
}

.dataTitle {
  margin: 5px;
  font-weight: bold;
}

.dataInfo {
  margin: 5px;
}

.dataItems {
  margin-bottom: 15px;
}

.copyData {
  display: flex;
  align-items: center;
  align-self: center;
  width: fit-content;
  color: #30c0f0;
  text-decoration: none;
  cursor: pointer;
}

.copyIcon {
  color: #30c0f0;
}

.info {
  font-size: 15px;
  font-weight: bold;
}

.btnUpload {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .methodPaymentBox {
    width: 80%;
  }

  .dataContainer {
    box-sizing: border-box;
    width: 80%;
    margin-bottom: 10px;
  }
}
