.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  align-self: flex-start;
  margin: 2.25%;
  color: #f05523;
}

.formContainer {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  width: 95%;
}

.columnContainer {
  width: 400px;
}

.input {
  max-width: 100%;
}

.midInput {
  max-width: 47.5%;
}

.shortInput {
  max-width: 110px;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginText:hover {
  color: #f05523;
  cursor: pointer;
}

.phoneInputs,
.addressInputs {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 100%;
}

.signUpBtn {
  width: 50%;
  font-weight: bold;
}
