.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  align-self: flex-start;
  margin: 2.25%;
  color: #f05523;
}

.formContainer {
  display: flex;
  justify-content: space-around;
}

.columnContainer {
  width: 45%;
}

.input {
  width: 100%;
}

.midInput {
  width: 45%;
}

.shortInput {
  width: 110px;
  margin-right: 10px;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginText:hover {
  color: #f05523;
  cursor: pointer;
}

.phoneInputs,
.addressInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.signUpBtn {
  width: 55%;
  font-weight: bold;
}
