.title {
  font-size: 32px;
}

.orderContainer {
  padding: 1% 4%;
}

.subtitle {
  font-size: 18px;
  color: #f05523;
}

.productQuantity {
  font-weight: bold;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productBox {
  margin-right: 10px;
}
