.title {
  font-size: 32px;
}

.orderContainer {
  padding: 1% 4%;
}

.subtitle {
  font-size: 18px;
  color: #f05523;
}

.productQuantity {
  font-weight: bold;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productBox {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .title {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    align-self: flex-start;
  }

  .productQuantity {
    align-self: flex-start;
  }

  .productsContainer {
    justify-content: center;
  }

  .productBox {
    margin-right: 0;
  }
}
