.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.phoneContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.inputSmall {
  width: 30%;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
