.container {
  position: relative;
  width: max-content;
  max-height: 90vh;
  padding: 10px;
  overflow-y: auto;
  background-color: white;
  border: '2px solid #000';
  border-radius: 5px;
  box-shadow: '2px';
  transform: 'translate(-50%, -50%)';
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeModal {
  position: absolute;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.fileName {
  padding: 20px;
}
