.container {
  width: 50%;
  padding: 10px;
  background-color: white;
  border: '2px solid #000';
  border-radius: 5px;
  box-shadow: '2px';
  transform: 'translate(-50%, -50%)';
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: 20px, #f05523;
}

.image {
  align-self: center;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.buttonEdit {
  align-self: center;
  color: #f05523;
  background-color: white;
  border: solid 1px #f05523;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.titleModalImage {
  padding: 5px 10px;
  color: white;
  background-color: #f05523;
  border-radius: 5px;
  box-shadow: solid 2px;
}
