.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.table {
  width: 90%;
  margin: 2.75%;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
}

.tableHeader {
  background-color: var(--color-primary);
}

.columnHeader {
  font-weight: bolder;
  color: white;
  text-align: center;
}

.cell {
  text-align: center;
}

.cellButton {
  display: flex;
  justify-content: center;
}
