.sectionContainer {
  align-self: center;
  width: 80%;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
}

.titleContainer {
  border-bottom: solid #f05523 1.5px;
}

.title {
  margin-left: 15px;
  font-size: 30px;
  color: #f05523;
}

.container {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 20px 20px 2px;
  margin-bottom: 0;
}

.columnContainer {
  width: 45%;
}

.shortInput {
  width: 100px;
  margin-right: 5px;
}

.phoneInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sendBtn {
  width: 50%;
  font-weight: bold;
}
