.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

.titleContainer {
  border-bottom: solid #f05523 1.5px;
}

.title {
  color: #f05523;
}

.formContainer {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 25px 5px 5px 25px;
}

.columnContainer {
  width: 45%;
}

.shortInput {
  width: 75px;
  margin-right: 5px;
}

.phoneInputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sendBtn {
  width: 55%;
  margin-bottom: 40px;
  font-weight: bold;
}
