.mainContainer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-left: 200px;
  background-color: #f0f0f0;
}
