.container {
  display: flex;
  flex-direction: column;
  padding: 4% 15%;
}

.subTitle {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  color: #f05523;
}

.formTitle {
  margin-top: 0;
}

.button {
  width: 45%;
  margin-bottom: 25px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 45%;
}

.addButton {
  width: 45%;
  margin-bottom: 25px;
  font-weight: bold;
}
