.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
}

.title {
  margin-left: 3.75rem;
}

.ordersContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loaderContainer {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@media screen and (max-width: 768px) {
  .loaderContainer {
    left: 40vw;
  }
}

@media screen and (max-width: 480px) {
  .loaderContainer {
    left: 35vw;
  }
}

.noOrderMessage {
  width: 75%;
  margin-left: 60px;
}

.buttonHome {
  font-weight: bold;
  color: #f05523;
  text-decoration: none;
}

.buttonHome:hover {
  cursor: pointer;
}
