.headerContainer {
  display: flex;
  flex-direction: column;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  font-size: 12px;
  background-color: white;
}

.logoQira {
  margin: 12px;
}

.navBarLinks {
  display: flex;
  justify-content: space-around;
  margin: 6px;
  list-style: none;
}

.navBarLinks li {
  padding: 0 5px;
  border-right: solid black 1px;
}

.currency {
  align-self: center;
  color: #f05523;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f05523;
}

.searchContainer {
  display: flex;
}

.searchBar {
  width: 300px;
  background-color: white;
  border-radius: 5px;
}

.categories {
  width: 150px;
  margin-right: 10px;
  background-color: #f05523;
  border-radius: 10px;
}

.routes {
  display: flex;
  color: white;
}

.btnLogin {
  padding: 8px 10px;
  margin-right: 20px;
  border: white solid 1px;
  border-radius: 5px;
}

.btnLogin :hover {
  cursor: pointer;
}

.shoppingCart {
  color: white;
}

.shoppingCart :hover {
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  /* .container {
    padding: 0 20%;
  }

  .navbar {
    padding: 0 20%;
  } */
}
