.headerContainer {
  display: flex;
  flex-direction: column;
}

.navBarContainer {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: white;
}

.currency {
  display: flex;
  gap: 5px;
  align-self: center;
  margin-left: 5%;
  font-size: 16px;
  color: #f05523;
}

.currency p {
  margin: 0;
}

.exchangeRate {
  margin-left: 0;
  font-weight: bold;
}

.infoIcon {
  align-self: center;
  font-size: 18px;
}

.mainHeaderContainer {
  background-color: #f05523;
}

.mainHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  margin: auto;
}

.logoQira {
  height: 45px;
  margin: 12px 20px;
}

.searchContainer {
  display: flex;
  gap: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 6px;
  background-color: white;
  border-radius: 5px;
}

.searchBar input {
  align-self: center;
  width: fill-available;
  border: none;
  outline: none;
}

.searchBar input::placeholder {
  font-size: 16px;
}

.searchIconContainer {
  display: flex;
  align-items: center;
  margin: 2px;
}

.searchIconContainer :hover {
  cursor: pointer;
}

.buttonCategories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  min-height: 27px;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background-color: #f05523;
  border: solid 2px white;
  border-radius: 5px;
}

.optionsContainer {
  position: absolute;
  top: 102px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 164px;
  padding: 5px;
  overflow: hidden;
  line-height: 25px;
  color: white;
  white-space: nowrap;
  background-color: white;
  border-radius: 5px;
}

.categoryOption {
  margin: 5px;
}

.categoryLinks {
  margin: 20px;
  color: black;
  text-decoration: none;
}

.categoryLinks:hover {
  color: #f05523;
}

.categoriesArrow {
  color: white;
}

.routes {
  display: flex;
  color: white;
}

.profileContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pLogin {
  font-size: 18px;
}

.btnLogin {
  display: flex;
  align-items: center;
}

.btnLogin :hover {
  cursor: pointer;
}

.userIconLink {
  display: flex;
  color: white;
  text-decoration: none;
}

.userIcon {
  margin-right: 5px;
  font-size: 32px;
}

.userName {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.shoppingCart {
  font-size: 32px;
  color: white;
}

.shoppingCartContainer :hover {
  cursor: pointer;
}

.shoppingCartContainer {
  margin-left: 25px;
}

.menuAndLogoContainer {
  display: none;
}

.arrowBack {
  display: none;
}
@media screen and (max-width: 1024px) {
  .logoQira {
    display: none;
  }

  .menuAndLogoContainer {
    display: flex;
  }

  .logoQ {
    width: 50px;
    color: white;
  }

  .pLogin {
    display: none;
  }

  .userName {
    display: none;
  }

  .btnLogin {
    display: flex;
    width: fit-content;
  }

  .userIcon {
    font-size: 40px;
  }

  .shoppingCart {
    font-size: 40px;
  }

  .shoppingCartContainer {
    margin: 0 10px 0 0;
  }

  .menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mainHeader {
    gap: 10px;
  }

  .currency {
    margin-left: 30px;
    font-size: 12px;
  }

  .buttonCategories {
    display: none;
  }

  .logoQira {
    display: none;
  }

  .menuAndLogoContainer {
    display: flex;
    gap: 10px;
  }

  .logoQ {
    width: 50px;
    color: white;
  }

  .menu {
    display: flex;
    font-size: 50px;
    color: white;
  }

  .searchBar {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 40px;
    padding: 0;
    margin: 0;
  }

  .searchBar input {
    align-self: center;
    width: 80%;
    margin: 0 0 0 5px;
  }

  .searchBar input::placeholder {
    font-size: 14px;
  }

  .btnLogin {
    width: fit-content;
  }

  .userName {
    display: none;
  }

  .pLogin {
    display: none;
  }

  .navBarContainer {
    justify-content: space-between;
    height: 20px;
  }
}
