.container {
  display: flex;
  flex-direction: column;
  padding: 4% 15%;
}

.subTitle {
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 400;
  color: #f05523;
}

.formTitle {
  margin-top: 0;
}

.button {
  margin: 15px 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
