.container {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: 0.2rem 3.5rem;
  border-bottom: solid 2px;
}
