.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #f05523;
}

.logoQira {
  max-height: 50%;
  margin: 20px 60px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.outletContainer {
  width: 60%;
  min-height: calc(100vh - 196px);
  overflow-y: auto;
  background-color: #f3f3f3;
}

.pricesSidebar {
  width: 40%;
  padding-top: 1%;
  background-color: #ed764e;
}

.sidebarContent {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.title {
  align-self: flex-start;
  margin-bottom: 50px;
  margin-left: 50px;
  color: white;
}

.priceDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.productsPrice,
.taxesPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productsPrice p,
.taxesPrice p {
  font-weight: 400;
  color: white;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.totalPrice p {
  font-weight: 700;
  color: white;
}

.button {
  width: 80%;
  font-weight: bold;
  background-color: white;
}

.button:hover {
  background-color: rgb(235 235 235);
}

.footer {
  padding-bottom: 10px;
  background-color: black;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.license {
  margin-left: 60px;
  font-size: 12px;
  color: white;
}

@media screen and (max-width: 767px) {
  .contentContainer {
    flex-direction: column;
  }

  .outletContainer {
    width: 100vw;
  }

  .pricesSidebar {
    width: 100vw;
    padding-bottom: 5%;
  }

  .title {
    margin-bottom: 25px;
  }
}
