.container {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: 0.5% 0 0 5%;
  border-bottom: solid 2px;
}

.addNewProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNewProduct h3 {
  margin: 0 10px;
}

.addButton {
  color: white;
  background-color: #f05523;
}
