.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 350px;
  min-height: 500px;
  padding-bottom: 15px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  align-self: center;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.imagePlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background-color: #c1c1c1;
  border-radius: 5px;
}

.imageIcon {
  width: 144px;
  height: 144px;
  color: #00000044;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.buttonSend {
  width: 191px;
}

.titleModalImage {
  padding: 5px 10px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: solid 2px;
}

.fileName {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.fileName p {
  max-width: 385px;
  overflow-x: hidden;
  font-size: 15px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
}

.textContainer :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContainer :last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #637381;
}

.textBold {
  margin: 0;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #637381;
}
