.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 0 60px 50px;
}

.subtitle {
  font-weight: 400;
  color: #f05523;
}

.columnsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-right: 10px;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 10px;
  margin: 10px 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.sectionTitle {
  font-weight: 600;
}

.dataCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.clickableDataCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.cardTitle {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.cardText {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.productsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.productRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  padding: 10px 0;
  border-bottom: 1px solid #bcbcbc88;
}

.productRow:last-child {
  border-bottom: 0;
}

.productRow p {
  margin: 0;
  font-weight: 600;
}

.image {
  width: 50px;
  height: 50px;
  border: 1px solid #bcbcbc;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  color: #19191988;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
