.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #f05523;
}

.columnsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-right: 10px;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 10px;
  margin: 10px 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
}

.sectionTitle {
  font-weight: 600;
}

.dataCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.clickableDataCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.clickableDataCard:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.cardTitle {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.cardText {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.productsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.productRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #bcbcbc88;
}

.productRow:last-child {
  border-bottom: 0;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageContainer p {
  padding-left: 10px;
  margin: 0;
  font-weight: 600;
  word-wrap: break-word;
}

.image {
  width: 50px;
  height: 50px;
  border: 1px solid #bcbcbc;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  color: #19191988;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .columnsContainer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .firstColumn,
  .secondColumn {
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .productRow {
    gap: 3px;
  }

  .imageContainer p {
    padding-left: 5px;
  }
}
