.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  padding: 15px;
}

.messageContainer {
  display: flex;
  justify-content: center;
  min-width: 350px;
  max-width: fit-content;
  margin: 8% 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  word-wrap: break-word;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonCancel {
  align-self: center;
  font-weight: 700;
  color: #f05523;
  background-color: white;
  border: solid 1px #f05523;
}

.buttonAccept {
  font-weight: 700;
}
