.container {
  background-color: #000000;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.license {
  width: 300px;
  font-size: 12px;
  color: white;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 100px;
}

.logo {
  width: calc(60% - 40px);
  padding: 0;
  margin-bottom: 15px;
}

.socialMediaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 100px;
}

.titelSocialMedia {
  margin: 10px;
  font-size: 12px;
  color: white;
}

.socialIcon {
  width: 30px;
  margin-left: 5px;
}

.wspIcon {
  padding: 5px;
  margin-right: 30px;
  font-size: 60px;
  color: white;
  background-color: #25d366;
  border-radius: 10px;
}

.wspIconContainer {
  position: fixed;
  z-index: 100;
  align-self: flex-end;
  margin-top: 75vh;
}

@media screen and (max-width: 678px) {
  .socialMediaContainer {
    padding: 0;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: center;
  }
}
